@media screen{

	body{margin:40px auto;max-width:750px;font-size:16px;font-family:sans-serif;color:#222;padding:0 10px}
	p#intro{line-height:1.6em}
	span#meatList,span#sideIngredientList{line-height:2.5em;}
	.item{display:inline-block;margin-bottom:0.5em;margin-right:0.5em;}
	input{font-size:16px;}
	fieldset{margin-bottom:1em}
	fieldset#timingchart{margin-top:2em}
	legend{font-weight:bold}
	table{border-collapse: collapse;}
	td{margin:0.5em; padding:0.5em; border-bottom:1px solid gray;}
	td.timetd{white-space: nowrap;}
	p.warn{color:red}
	p.footer{color:gray;margin-top:2em;font-size:12px}

}
@media print {
	
	noscript,p,#meat,#sides,#vegetables,#sauces,#settings {
		display: none;
	}
	
}
